CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -I${workspaceFolder}/include
    - -I${workspaceFolder}/src
    # System headers
    - -I/usr/include
    - -I/usr/include/GL
    - -I/usr/include/GLFW
    - -I/usr/include/glm
    - -DGLFW_DLL
